/*
 * 详情页details.html
 * 独立样式文件
 * 
 * */

/*左边详情内容*/
.mbox-l .item{
	width: 890px;
	background-color: #ffffff;
	border-top: 5px solid #33CC99;
}

.mbox-l .item .item-top{
	width: 842px;
	padding: 15px 24px;
	height: 30px;
	border-bottom: 1px solid #f4f7f8;
}
.mbox-l .item .item-top .sytj{
	display: inline-block;
	width: 65px;
	height: 30px;
	line-height: 30px;
}
.mbox-l .item .item-top .icon-1{
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 3px 0px 0px 3px;
	position:relative;
	behavior: url(../css/pie.htc);
}
.mbox-l .item .item-top .icon-1 .icon{
	width: 14px;
	height: 14px;
	fill: #fff;
	position: relative;
	left: 2px;
	top:3px
}
.mbox-l .item .item-top .icon-2{
	display: inline-block;
	width: 46px;
	height: 30px;
	line-height: 30px;
	background-color: #CBEFE3;
	color: #466F63;
	margin-left: -3px;
	border-radius: 0px 3px 3px 0px;
	position:relative;
	behavior: url(../css/pie.htc);
}
.mbox-l .item .item-top .pl{
	display: inline-block;
	line-height: 30px;
	height: 30px;
}
.mbox-l .item .item-top .pl i{
	position: relative;
	top:4px;
	margin-right: 5px;
}
.mbox-l .item .item-top .img{
	max-height: 30px;
}

.mbox-l .item .item-goods{
	padding: 24px;
}

.mbox-l .item .item-goods .goods-pic{
	width: 296px;
}
.mbox-l .item .item-goods .cz{
	height: 32px;
}
.mbox-l .item .item-goods .cz .share-c{
	position: relative;
}

.mbox-l .item .item-goods .cz .share-c .shareBox{
	left: -130px;
	bottom: 42px;
	top:initial;
	z-index: 9999;
}
.mbox-l .item .item-goods .cz .fx{
	display: inline-block;
	width: 38px;
	padding-left: 30px;
	height: 32px;
	line-height: 32px;
	background: url(../images/ie8/c_9@2x.png) no-repeat;
	background-position: 10% 40%;
}
.mbox-l .item .item-goods .cz .fx:hover{
	background-color: rgba(153,165,160,0.1);
}
.mbox-l .item .item-goods .cz .sc{
	background: url(../images/ie8/c_8@2x.png) no-repeat;
	background-position: 10% 40%;
}
.mbox-l .item .item-goods .cz .jb{
	background: url(../images/ie8/c_5@2x.png) no-repeat;
	background-position: 10% 40%;
}
.mbox-l .item .item-goods .cz .jb1{
	position: relative;
}
.mbox-l .item .item-goods .cz .active{
	color: #33CC99;
}
.mbox-l .item .item-goods .cz .active .icon{
	fill: #33cc99;
}

.mbox-l .item .item-goods .cz .fr .up{
	display: inline-block;
	width: 32px;
	height: 32px;
	background-color: #F5F6F5;
	text-align: center;
}
.mbox-l .item .item-goods .cz .fr .icons{
	margin-top: 8px;
	width: 16px;
	height: 16px;
	fill: #99a5a0;
}
.mbox-l .item .item-goods .cz .fr em:hover .icons{
	fill: #33cc99;
}

.mbox-l .item .item-goods .goods-info{
	width: 531px;
}
.mbox-l .item .item-goods .goods-info .biaoqian{
	border-bottom: 1px dashed #EDF0F3;
	padding-bottom: 20px;
}
.mbox-l .item .item-goods .goods-info .inst{
	background-color: #F7F8F9;
	padding: 12px 14px;
}
.mbox-l .item .item-goods .goods-info .inst .layui-badge-rim{
	border: 1px solid #EB3C3C;
	color: #EB3C3C;
	background: none;
}
.mbox-l .item .item-goods .goods-info .moreButton{
	width: 280px;
	position: relative;
}
.mbox-l .item .item-goods .goods-info .button{
	border: 0;
	width: 280px;
	height: 46px;
	line-height: 46px;
	font-size: 16px;
}
.mbox-l .item .item-goods .goods-info .icon{
	position: relative;
	top:6px;
	width: 24px;
	height: 24px;
	fill: #99A5A0;
}
.mbox-l .item .item-goods .goods-info .smgmButton:hover {
	color: #33CC99;
}
.mbox-l .item .item-goods .goods-info .smgmButton:hover .icon{
	fill: #33cc99;
}
.mbox-l .item .item-goods .goods-info .smgm{
	position: relative;
}
.mbox-l .item .item-goods .goods-info .smgm .qrCodeBox{
	bottom: 35px;
	top:inherit;
	right: -70px;
}
/*最新发言*/
.mbox-l .item .new-msg{
	width: 818px;
	padding: 12px;
	background-color: #F7F8F9;
	border-left: 3px solid #D2D6DA;
}
/*正文*/
.mbox-l .item .content p{
	font-size: 15px;
	line-height: 30px;
	margin-top: 20px;
	text-indent: 2em;
}
.mbox-l .item .content a{
	color: #33CC99;
}
.mbox-l .item .content a:hover{
	color: #33CC99;
	text-decoration:underline !important;
}
/*单品推荐*/
.mbox-l .item .recom li{
	border:1px solid #ECF1F3;
	padding: 10px;
	margin-top: 10px;
	width: 600px;
}
.mbox-l .item .recom li .info{
	width: 467px;
}
.mbox-l .item .recom li .info .mall{
	height: 34px;
	display:flex;
	/*主轴居中对齐*/
    justify-content: center;
    /*侧轴居中对齐*/    
    align-items: center; 
}
.mbox-l .item .recom li .info .moreButton{
	width: 100px;
	position: relative;
}
.mbox-l .item .recom li .info .button{
	display: inline-block;
	width: 100px;
	height: 34px;
	line-height: 34px;
}
.mbox-l .item .info-dot p{
	display:list-item;
	list-style-type:disc; 
	padding-left: 10px;
	margin-left: 2em;
	line-height: 26px;
}

/*图片切换效果*/
.mbox-l .item .photo{ width:842px; height:670px; position:relative; overflow:hidden; margin-top: 40px;}
.mbox-l .item .photo .ban{ width:842px; height:526px; position:relative; overflow:hidden;}
.mbox-l .item .photo .ban ul{ position:absolute; left:0; top:0;}
.mbox-l .item .photo .ban ul li{ width:842px; height:526px; text-align: center;line-height: 526px; background-color: #FAFAFA;}
.mbox-l .item .photo .ban ul li img{ max-width:842px; max-height: 526px; }
.mbox-l .item .photo .num{ height:70px;overflow:hidden; width:390px; position:relative;float:left;}
.mbox-l .item .photo .min_pic{ padding-top:10px; width:462px; margin: 0px auto;}
.mbox-l .item .photo .num ul{ position:absolute; left:0; top:0;}
.mbox-l .item .photo .num ul li img{ width:66px; height:66px; margin-right:10px; padding:2px; background: #F3F3F3;}
.mbox-l .item .photo .num ul li.on img{ border:2px solid #CCCCCC; padding:0; background: #FAFAFA;}
.mbox-l .item .photo .prev_btn{ width:26px; text-align:center; height:49px; cursor:pointer; padding-top: 21px; margin-right: 10px; float:left; background-color: #FAFAFA;}
.mbox-l .item .photo .next_btn{ width:26px; text-align:center; height:49px; cursor:pointer; padding-top: 21px; float:right; background-color: #FAFAFA;}
.mbox-l .item .photo .prev{ position:absolute; padding-top: 237px; left:0; width:50%; height:289px; z-index:9; cursor:url(../images/pic_prev.cur),pointer; display: none;}
.mbox-l .item .photo .next{ position:absolute; padding-top: 237px; right:0; text-align: right; width:50%; height:289px; z-index:9; cursor:url(../images/pic_next.cur),pointer; display: none;}

/*顶踩按钮*/
.mbox-l .item .caiding{
	width: 842px;
	height: 110px;
	text-align: center;
}
.mbox-l .item .caiding .button{
	background-image: linear-gradient(-180deg, #FAFBFA 0%, #F5F6F6 100%);
	border: 1px solid #ECEFEE;
	border-radius: 5px;
	width: 128px;
	height: 56px;
	line-height: 56px;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}
.mbox-l .item .caiding .button .icon-1{
	width: 24px;
	height: 24px;
	fill: #33CC99;
	position: relative;
	top:5px
}
.mbox-l .item .caiding .button .icon-2{
	width: 24px;
	height: 24px;
	fill: #AD6161;
	position: relative;
	top:5px
}

.mbox-l .item .caiding .jb2{
	position: absolute;
	right: 30px;
}
.mbox-l .item .caiding .jb2 .jb{
	display: inline-block;
	background-image:url(../images/ie8/c_5@2x.png);
	background-repeat: no-repeat;
	background-position: 15% 40%;
	padding-left: 15px;
	height: 30px;
	line-height: 30px;
	color: #99A5A0;
	width: 50px;
}
.mbox-l .item .caiding .jb2 .jb:hover{
	background-color:rgba(153,165,160,0.1);
}
.mbox-l .item .caiding .jb2 .jbBox{
	text-align: left;
}

/*更新记录*/
.mbox-l .item .updateRecord{
	border-top: 1px solid #F4F7F8;
	border-bottom: 1px solid #F4F7F8;
	padding-top: 25px;
	padding-bottom: 20px;
}
.mbox-l .item .updateRecord .title{
	height: 26px;
	line-height: 26px;
}
.mbox-l .item .updateRecord .title .icon{
	width: 18px;
	height: 18px;
	position: relative;
	top:2px;
	margin-right: 6px;
}
.mbox-l .item .updateRecord .title span{
	display: inline-block;
	width: 50px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	background-color: #ECEEED;
}
/*上下篇*/
.mbox-l .item .sxp{
	padding: 20px 20px 0px 30px;
}
.mbox-l .item .sxp div{
	width: 50%;
}

/*爆料人*/
.mbox-l .blr{
	width: 890px;
}

.mbox-l .blr .title{
	border-bottom: 1px solid #F4F7F8;
	padding: 14px 23px;
	height: 30px;
	line-height: 30px;
}
.mbox-l .blr .title a{
	display: inline-block;
	width: 80px;
	height: 30px;
}

.mbox-l .blr .info{
	width: 842px;
	height: 94px;
	padding: 20px 24px;
}
.mbox-l .blr .info .content{
	width: 733px;
	height: 94px;
}
.mbox-l .blr .info .content .hhr{
	border:1px solid #33CC99;
	padding: 2px 7px;
}
.mbox-l .blr .info .content .gz{
	border:1px solid #33CC99;
	padding: 2px 7px;
}
.mbox-l .blr .info .content .icon{
	width: 24px;
	height: 24px;
	fill:#99A5A0;
	position: relative;
	top:8px
}

/*加入关注清单*/
.mbox-l .jrgz{
	padding: 14px 24px;
	height: 36px;
	line-height: 36px;
}
.mbox-l .jrgz .button{
	display: inline-block;
	width: 158px;
	height: 36px;
	line-height: 36px;
}

/*评论*/
.mbox-l .comments{
	padding-bottom: 24px;
}
.mbox-l .comments .title{
	width: 842px;
	padding: 20px 24px;
	border-bottom: 1px solid #F4F7F8;
	height: 24px;
	line-height: 24px;
}
.mbox-l .comments .title span .icon{
	width: 14px;
	height: 14px;
	fill:#b2b2b2;
	position: relative;
	top:3px;
}

.mbox-l .comments .title .newsCom{
	position: relative;
}
.mbox-l .comments .title .newsCom .op{
	position: absolute;
	left: -5px;
	top:30px;
	width: 100%;
	background:rgba(255,255,255,1);
	box-shadow:0px 4px 8px 0px rgba(0,0,0,0.06);
	border:1px solid rgba(236,241,243,1);
	z-index: 2;
}
.mbox-l .comments .title .newsCom .op li{
	text-align: center;
	height: 35px;
	line-height: 35px;
	cursor: pointer;
	font-size: 12px;
}
.mbox-l .comments .title .newsCom .op li:hover{
	color: #33CC99;
}
.mbox-l .comments .title .newsCom .op .active{
	background: #F6F7F8;
	font-weight: bold;
}

/*评论列表*/
.mbox-l .comments .list{
	width: 842px;
	padding: 24px;
}
/*用户信息*/
.mbox-l .comments .head{
	width: 46px;
}
.mbox-l .comments .head .user-info{
	width: 290px;
	position: absolute;
	background: #FFFFFF;
	border: 1px solid #E6EBF0;
	box-shadow: 0 3px 5px 0 rgba(105,115,130,0.16);
	/*设置圆角*/
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	z-index: 99;
	margin-left: -123px;
	margin-top: 15px;
	display: none;
	behavior: url(../css/pie.htc);
}
.mbox-l .comments .head .user-info:before,.user-info:after {
	content: "";
	display: block;
	border-width: 15px;
	position: absolute;
	top: -30px;
	left: 130px;
	border-style: solid dashed dashed solid;
	border-color: transparent transparent #E6EBF0 transparent;
	font-size: 0;
	line-height: 0;
}
.mbox-l .comments .head .user-info:after {
	top: -28px;
	border-color: transparent transparent #FFF transparent;
}

.mbox-l .comments .head .user-info .content{
	width: 250px;
	padding: 20px;
}
.mbox-l .comments .head .user-info .content .tx{
	width: 46px;
	margin-right: 12px;
}
.mbox-l .comments .head .user-info .content .xx{
	width: 192px;
	line-height: 24px;
}
.mbox-l .comments .head .user-info .content .xx .title-1{
	border: 1px solid #33CC99;
	padding: 1px 8px;
	color: #33CC99;
}
.mbox-l .comments .head .user-info .content .xx .title-2{
	border: 1px solid #9255C6;
	padding: 1px 8px;
	color: #9255C6;
}
.mbox-l .comments .head .user-info .content .xx .icon{
	width: 20px;
	height: 20px;
	position: relative;
	top:8px;
}

.mbox-l .comments .head .user-info .operation{
	border-top: 1px solid #F4F7F8;
	height: 40px;
	padding: 20px 18px;
}
.mbox-l .comments .head .user-info .operation a{
	display: inline-block;
	width: 120px;
	height: 40px;
	line-height: 40px;
}
.mbox-l .comments .head .user-info .operation .button{
	display: inline-block;
	width: 118px;
	height: 38px;
	line-height: 38px;
}
.mbox-l .comments .head .user-info .operation .icon{
	width: 16px;
	height: 16px;
	position: relative;
	top:3px
}
.mbox-l .comments .head .user-info .operation .button .icon-sx{
	width: 18px;
	height: 18px;
	position: relative;
	top:4px;
	fill: #666666;
}
.mbox-l .comments .head .user-info .operation .button:hover .icon-sx{
	fill:#33CC99;
}

/*评论内容*/
.mbox-l .comments .content{
	width: 784px;
}
.mbox-l .comments .content .name{
	width: 684px;
}
.mbox-l .comments .content .lc{
	width: 100px;
}
.mbox-l .comments .content .lc .yjb{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	color: #99A5A0;
	width: 70px;
	text-align: center;
}
.mbox-l .comments .content .lc .jb3{
	position: relative;
	display: none;
}
.mbox-l .comments .content .lc .jb3 .jb{
	display: inline-block;
	background-image:url(../images/ie8/c_5@2x.png);
	background-repeat: no-repeat;
	background-position: 15% 40%;
	padding-left: 30px;
	height: 30px;
	line-height: 30px;
	color: #99A5A0;
	width: 40px;
}
.mbox-l .comments .content .lc .jb3 .jb:hover,.mbox-l .comments .content .lc .yjb:hover{
	background-color:rgba(153,165,160,0.1);
}
.mbox-l .comments .content .lc .luo{
	height: 30px;
	line-height: 30px;
	color: #99A5A0;
}
.mbox-l .comments .content .reply-box{
	margin-bottom:12px;
	overflow-x:hidden;
	overflow-y:hidden;
	padding:6px;
	background:#FCFDFE;
	border:solid 1px #ECEFF0;
}
.mbox-l .comments .content .icon{
	width: 14px;
	height: 14px;
	fill: #99A5A0;
	position: relative;
	top:3px;
}
.mbox-l .comments .content .write{
	margin: 16px 0 0 0;
	display: none;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.04) 
}
.mbox-l .comments .content .no-btn{
	border: none;
	background: none;
}

/*暂无评论*/
.not-comments{
	background: url(../images/a_1.png) center no-repeat;
	height: 200px;
	background-size: auto 123px;
	behavior: url(../css/backgroundsize.min.htc);
}

/*写评论*/
.mbox-l .comments .write{
	position: relative;
	margin: 0px 24px;
	border: 1px solid #EBEBEB;
}
.mbox-l .comments .write .info{
	padding: 13px 16px;
	border-bottom: 1px solid #EBEBEB;
}
.mbox-l .comments .write .info textarea{
	resize:none;
	border: none;
	line-height: 20px;
	font-size: 14px;
	width: 100%;
	overflow:auto;
}
.mbox-l .comments .write .info textarea::-webkit-input-placeholder{
	color:#99A5A0;
}
.mbox-l .comments .write .info textarea::-moz-placeholder{   /* Mozilla Firefox 19+ */
	color:#99A5A0;
}
.mbox-l .comments .write .info textarea:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
	color:#99A5A0;
}
.mbox-l .comments .write .info textarea:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#99A5A0;
}

.mbox-l .comments .write .member {
	padding: 8px;
	height: 32px;
	line-height: 32px;
}
.mbox-l .comments .write .member .icon{
	width: 20px;
	height: 20px;
	position: relative;
	top:6px;
}
.mbox-l .comments .write .member .button{
	border: none;
	width: 62px;
	height: 32px;
	line-height: 32px;
}

/*侧边栏*/
.sidebar-l{
	position: fixed;
	top: 192px;
	background-color: #ffffff;
	border: 1px solid #ECF1F3;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.04);
	width: 52px;
	text-align: center;
	z-index: 98;
}
.sidebar-l .button{
	margin: 15px 0;
}
.sidebar-l .icon{
	display: inline-block;
	width: 22px;
	height: 22px;
	fill: #666666;
}
.sidebar-l .button .btn{
	color: #999999;
}
.sidebar-l .button .btn:hover{
	color: #666666;
}
.sidebar-l .share-l{
	position: relative;
}
.sidebar-l .share-l .shareBox{
	left: 0;
}
.sidebar-l .saoma{
	position: relative;
}
.sidebar-l .saoma .saomaBox{
	position: absolute;
	width: 180px;
	background:rgba(255,255,255,1);
	box-shadow:0px 4px 8px 0px rgba(0,0,0,0.06);
	border:1px solid rgba(236,241,243,1);
	z-index: 99;
	padding: 26px;
	text-align: left;
	top:50px;
	left: 0;
}

/*右边详情内容*/
.mbox-r .title{
	padding: 16px 17px 10px 17px;	
}

/*热门榜*/
.mbox-r .layui-tab{
	margin: 0;
}
.mbox-r .layui-tab-title{
	border-bottom-color: #F4F7F8;
}
.mbox-r .layui-tab-title li{
	min-width: 0;
	font-size: 12px;
	padding: 0 10px;
	color: #3F3F3F;
}
.mbox-r .layui-tab-bar{
	display: none;
}
.mbox-r .layui-tab-title .layui-this{
	color: #33CC99;
	font-weight: bold;
}
.mbox-r .layui-tab-title .layui-this:after{
	border: 0;
}

.mbox-r .layui-tab-content{
	padding: 7px 6px 18px 17px;
}

.mbox-r .layui-tab-content a{
	margin-right: 11px;
	margin-top: 9px;
	display: inline-block;
	width: 80px;
	height: 80px;
}

.mbox-r .layui-tab-content .layui-tab-item .tabCon{
	width: 0;
	padding: 0;
}
.mbox-r .layui-tab-content .layui-tab-item .tabCon .tit{
	overflow: hidden;
	line-height: 24px;
	height: 48px;
}

.mbox-r .layui-tab-content .layui-tab-item .active .tabCon{
	position: absolute;
	margin-top: -80px;
	margin-left: 80px;
	padding: 5px 10px;
	width: 81px;
	height: 70px;
	display: inline-block;
	background-color: #ffffff;
	z-index: 99;
	color: #666666;transition:width .2s;-webkit-transition:width .2s;-moz-transition:width .2s;-o-transition:width .2s;
}

.mbox-r .layui-tab-content .layui-tab-item .active1 .tabCon{
	position: absolute;
	margin-top: -80px;
	margin-left: -101px;
	padding: 5px 10px;
	width: 81px;
	height: 70px;
	display: inline-block;
	background-color: #ffffff;
	z-index: 99;
	color: #666666;transition:width .2s;-webkit-transition:width .2s;-moz-transition:width .2s;-o-transition:width .2s;
}

/*热门订阅*/
.mbox-r .rmdylist li{
	padding: 9px 18px;
	height: 22px;	
}
.mbox-r .rmdylist li:hover{
	background-color: #FAFAFA;
}
.mbox-r .rmdylist li span{
	color: #99A5A0!important;
	font-size: 12px!important;
	padding: 2px 6px;
}
.mbox-r .rmdylist li span:hover{
	color: #33CC99!important;
}

/*热门优惠*/
.mbox-r .rmyhlist li{
	padding: 0px 18px 20px 18px;
}
.mbox-r .rmyhlist li .info{
	width: 183px;
	margin-left: 14px;
}
.mbox-r .rmyhlist li .info span{
	display: inline-block;
	height: 20px;	
	padding-left: 18px;
	line-height: 20px;
}


/*顶部悬浮购买按钮*/
#buyButton{
	position: fixed;
	top:54px;
	height: 53px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.06);
	display: none;
	left:0;
}
#buyButton .moreButton{
	position: relative;
	width: 102px;
}
#buyButton .moreButton .moreUrl{
	top:43px;
}
#buyButton .button{
	display: inline-block;
	width: 102px;
	height: 34px;
	line-height: 34px;
	margin-top: 9px;
}
#buyButton .icon{
	width: 24px;
	height: 24px;
	fill: #99A5A0;
	position: relative;
	top:7px
}
#buyButton .sm{
	display: inline-block;
	margin-top: 7px;
}
#buyButton .sm:hover .icon{
	fill: #33cc99;
}
#buyButton .smgm{
	position: relative;
}
#buyButton .smgm .qrCodeBox{
	top:50px;
	left: -80px;
}

/*举报弹层样式*/
.jbBox{
	position: absolute;
	bottom:42px;
	background:rgba(255,255,255,1);
	box-shadow:0px 4px 8px 0px rgba(0,0,0,0.06);
	border:1px solid rgba(236,241,243,1);
	z-index: 10;
	padding: 20px;
	right:-65px;
	font-size: 14px;
	width: 162px;
}
.jbBox li{
	height: 18px;
	line-height: 18px;
	margin-bottom: 20px;
	cursor: pointer;
}
.jbBox li i{
	display: inline-block;
	width: 18px;
	height: 18px;
	background: #E7ECE9;
	margin-right: 10px;
	border-radius: 3px;
	position: relative;
	top:5px;
}
.jbBox li .active{
	background: #33CC99 url(../images/ie8/e_22@2x.png);
	background-repeat: no-repeat;
}
.jbBox .arrow-down{
    width:0;
    height:0;
    border-width:10px 10px 0;
    border-style:solid;
    border-color:rgba(0,0,0,0.02) transparent transparent;/*灰 透明 透明 */
    position:absolute;
    bottom: -10px;
    left: 48%;
}
.jbBox .arrow-down span{
    display:block;
    width:0;
    height:0;
    border-width:8px 8px 0;
    border-style:solid;
    border-color:#fff transparent transparent;/*黄 透明 透明 */
    position:absolute;
    top:-11px;
    left:-8px;
}
.jbBox .input .input-2{
    width: 140px;
}
.jbBox .input input::-webkit-input-placeholder{
	color:#99A5A0;
}
.jbBox .input input::-moz-placeholder{   /* Mozilla Firefox 19+ */
	color:#99A5A0;
}
.jbBox .input input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
	color:#99A5A0;
}
.jbBox .input input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#99A5A0;
}
.jbBox .button1 .btn-3{
	border: none;
	width: 100px;
	height: 28px;
}


/*圈子详情*/
.circleDetails .mbox-l .item{
	border-top-color: #F5A623;
}
.circleDetails .mbox-l .item .titleUser{
	
}
.circleDetails .mbox-l .item .btn-6{
	padding: 2px 10px;
}
.circleDetails .mbox-l .item .btn-6:hover{
	color: #33CC99;
	background: none;
	border: 1px solid #33CC99;
}
.circleDetails .mbox-l .item .c-content img{
	max-width: 100%;
}
.circleDetails .mbox-l .item .c-content p{
	font-size: 15px;
	line-height: 30px;
}
.circleDetails .mbox-l .item .caiding .button{
	background-image: linear-gradient(-180deg, #FAFBFA 0%, #F5F6F6 100%);
	border: 1px solid #ECEFEE;
	border-radius: 5px;
	width: 128px;
	height: 56px;
	line-height: 56px;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	color: #33CC99;
}
.circleDetails .mbox-l .item .caiding .button:hover{
	color: #FFFFFF;
	background-image: linear-gradient(-180deg, #33CC99 0%, #26B485 100%);
	border-color: #FFFFFF;
}
.circleDetails .mbox-l .item .caiding .button .icon-1{
	width: 24px;
	height: 24px;
	fill: #33CC99;
	position: relative;
	top:5px
}
.circleDetails .mbox-l .item .caiding .button:hover .icon-1{
	fill: #FFFFFF;
}
.circleDetails .mbox-l .item .op{
	position: absolute;
	bottom:20px;
	right: 24px;
}
.circleDetails .mbox-l .item .op .op1{
	color: #99A5A0;
	cursor: pointer;
}
.circleDetails .mbox-l .item .op .op1 .icon{
	fill: #99A5A0;
	width: 24px;
	height: 24px;
	position: relative;
	top:8px;
}
.circleDetails .mbox-l .item .op .op1:hover{
	color: #33CC99;
}
.circleDetails .mbox-l .item .op .op1:hover .icon{
	fill: #33CC99;
}
.circleDetails .mbox-l .item .op .op2 .jb,.circleDetails .mbox-l .item .op .op2 .shareButton{
	color: #99A5A0;
	cursor: pointer;
}
.circleDetails .mbox-l .item .op .op2 .icon{
	fill: #99A5A0;
	width: 24px;
	height: 24px;
	position: relative;
	top:8px;
}
.circleDetails .mbox-l .item .op .op2:hover .jb,.circleDetails .mbox-l .item .op .op2:hover .shareButton{
	color: #33CC99;
}
.circleDetails .mbox-l .item .op .op2:hover .icon{
	fill: #33CC99;
}

.circleDetails .mbox-l .item .op .op2 .shareBox{
	left: -130px;
	bottom: 42px;
	top:initial;
	z-index: 9999;
}
.circleDetails .mbox-l .item .sxp{
	padding: 24px;
}

.circleDetails .mbox-l .blr .btn-11{
	display: inline-block;
	font-size: 13px;
	font-weight: normal;
	min-width: 50px;
	height: 26px;
	padding: 0 5px;
	cursor: pointer;
}
.circleDetails .mbox-l .blr .btn-11:hover{
	background: #33CC99;
	color: #FFFFFF;
	border-color: #33CC99;
}

.circleDetails .mbox-l .jrgz .btn-7:hover{
	background: #AD6161;
	color: #FFFFFF;
}

.circleDetails .mbox-r .topicHot{
	padding: 14px;
}

.circleDetails .mbox-r .topicHot .item{
	margin-top: 18px;
	height: 55px;
}
.circleDetails .mbox-r .topicHot .item .img{
	width: 88px;
	height: 55px;
}
.circleDetails .mbox-r .topicHot .item .img img{
	width: 88px;
	height: 55px;
}
.circleDetails .mbox-r .topicHot .item .content{
	margin-left: 10px;
	width: 110px;
	height: 55px;
}
.circleDetails .mbox-r .topicHot .item .button{
	width: 60px;
	position: relative;
}
.circleDetails .mbox-r .topicHot .item .button .btn-11{
	min-width: 45px;
	position: absolute;
	top:5px;
	left: 0;
	height: 22px;
	line-height: 22px;
	cursor: pointer;
	padding: 0 5px;
}
.circleDetails .mbox-r .topicHot .item .button .btn-11:hover{
	color: #FFFFFF;
	background: #33CC99;
	border: 1px solid #33CC99;
	font-weight: normal;
}
.circleDetails .mbox-r .lvbt{
	display: inline-block;
	font-size: 12px!important; 
	width: 40px;
	text-align: center;
}

.circleDetails .mbox-r .userInfo .button span{
	display: inline-block;
	width: 126px;
	height: 38px;
	line-height: 38px;
	cursor: pointer;
}
.circleDetails .mbox-r .userInfo .button .btn-3{
	border: 1px solid #33CC99;
}