.icon2 {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(../images/svg_sprite/icon_sprite_2.svg);
  background-image: url(../images/svg_sprite/icon_sprite_2.png)\0;
}
.icon2-b_1 {
  width: 22px;
  height: 22px;
  background-position: 0 0;
}
.icon2-b_2 {
  width: 22px;
  height: 22px;
  background-position: 0 -32px;
}
.icon2-b_3 {
  width: 22px;
  height: 22px;
  background-position: 0 -64px;
}
.icon2-b_4 {
  width: 22px;
  height: 22px;
  background-position: 0 -96px;
}
.icon2-b_5 {
  width: 22px;
  height: 22px;
  background-position: 0 -128px;
}
.icon2-b_6 {
  width: 22px;
  height: 22px;
  background-position: 0 -160px;
}
.icon2-b_7 {
  width: 22px;
  height: 22px;
  background-position: 0 -192px;
}
.icon2-b_8 {
  width: 22px;
  height: 22px;
  background-position: 0 -224px;
}
.icon2-b_9 {
  width: 22px;
  height: 22px;
  background-position: 0 -256px;
}
.icon2-b_10 {
  width: 23px;
  height: 22px;
  background-position: 0 -288px;
}
.icon2-b_11 {
  width: 22px;
  height: 22px;
  background-position: 0 -320px;
}
.icon2-b_12 {
  width: 22px;
  height: 22px;
  background-position: 0 -352px;
}
.icon2-b_13 {
  width: 22px;
  height: 22px;
  background-position: 0 -384px;
}
.icon2-b_14 {
  width: 22px;
  height: 22px;
  background-position: 0 -416px;
}

.icon3 {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(../images/svg_sprite/icon_sprite_3.svg);
  background-image: url(../images/svg_sprite/icon_sprite_3.png)\0;
}
.icon3-a_41 {
  width: 16px;
  height: 16px;
  background-position: 0 0;
}
.icon3-a_42 {
  width: 16px;
  height: 16px;
  background-position: 0 -26px;
}
.icon3-a_43 {
  width: 16px;
  height: 16px;
  background-position: 0 -52px;
}
.icon3-a_46 {
  width: 16px;
  height: 16px;
  background-position: 0 -78px;
}
.icon3-a_47 {
  width: 16px;
  height: 16px;
  background-position: 0 -104px;
}
.icon3-a_48 {
  width: 16px;
  height: 16px;
  background-position: 0 -130px;
}
.icon3-a_49 {
  width: 16px;
  height: 16px;
  background-position: 0 -156px;
}
.icon3-a_50 {
  width: 16px;
  height: 16px;
  background-position: 0 -182px;
}
.icon3-a_51 {
  width: 16px;
  height: 16px;
  background-position: 0 -208px;
}
.icon3-a_52 {
  width: 16px;
  height: 16px;
  background-position: 0 -234px;
}
.icon3-a_53 {
  width: 16px;
  height: 16px;
  background-position: 0 -260px;
}
.icon3-a_54 {
  width: 16px;
  height: 16px;
  background-position: 0 -286px;
}
.icon3-a_55 {
  width: 16px;
  height: 16px;
  background-position: 0 -312px;
}
.icon3-c_1 {
  width: 16px;
  height: 16px;
  background-position: 0 -338px;
}
.icon3-c_2 {
  width: 16px;
  height: 16px;
  background-position: 0 -364px;
}
.icon3-c_3 {
  width: 16px;
  height: 16px;
  background-position: 0 -390px;
}
.icon3-c_4 {
  width: 16px;
  height: 16px;
  background-position: 0 -416px;
}
.icon3-c_5 {
  width: 16px;
  height: 16px;
  background-position: 0 -442px;
}
.icon3-c_6 {
  width: 16px;
  height: 16px;
  background-position: 0 -468px;
}
.icon3-c_7 {
  width: 16px;
  height: 16px;
  background-position: 0 -494px;
}
.icon3-c_8 {
  width: 16px;
  height: 16px;
  background-position: 0 -520px;
}
.icon3-c_9 {
  width: 16px;
  height: 16px;
  background-position: 0 -546px;
}
.icon3-c_10 {
  width: 16px;
  height: 16px;
  background-position: 0 -572px;
}
.icon3-c_11 {
  width: 16px;
  height: 16px;
  background-position: 0 -598px;
}
.icon3-d_1 {
  width: 16px;
  height: 16px;
  background-position: 0 -624px;
}
.icon3-d_2 {
  width: 16px;
  height: 16px;
  background-position: 0 -650px;
}
.icon3-d_3 {
  width: 16px;
  height: 16px;
  background-position: 0 -676px;
}
.icon3-d_4 {
  width: 16px;
  height: 16px;
  background-position: 0 -702px;
}
.icon3-d_5 {
  width: 16px;
  height: 16px;
  background-position: 0 -728px;
}
.icon3-d_6 {
  width: 16px;
  height: 16px;
  background-position: 0 -754px;
}
.icon3-d_7 {
  width: 16px;
  height: 16px;
  background-position: 0 -780px;
}
.icon3-d_8 {
  width: 16px;
  height: 16px;
  background-position: 0 -806px;
}
.icon3-d_9 {
  width: 16px;
  height: 16px;
  background-position: 0 -832px;
}
.icon3-d_10 {
  width: 16px;
  height: 16px;
  background-position: 0 -858px;
}
.icon3-d_11 {
  width: 16px;
  height: 16px;
  background-position: 0 -884px;
}
.icon3-d_12 {
  width: 16px;
  height: 16px;
  background-position: 0 -910px;
}
.icon3-d_13 {
  width: 16px;
  height: 16px;
  background-position: 0 -936px;
}
.icon3-d_14 {
  width: 16px;
  height: 16px;
  background-position: 0 -962px;
}
.icon3-d_15 {
  width: 16px;
  height: 16px;
  background-position: 0 -988px;
}
.icon3-d_16 {
  width: 16px;
  height: 16px;
  background-position: 0 -1014px;
}
.icon3-e_1 {
  width: 16px;
  height: 16px;
  background-position: 0 -1040px;
}
.icon3-e_2 {
  width: 16px;
  height: 16px;
  background-position: 0 -1066px;
}
.icon3-e_3 {
  width: 16px;
  height: 16px;
  background-position: 0 -1092px;
}
.icon3-e_4 {
  width: 16px;
  height: 16px;
  background-position: 0 -1118px;
}
.icon3-e_5 {
  width: 16px;
  height: 16px;
  background-position: 0 -1144px;
}
.icon3-e_6 {
  width: 16px;
  height: 16px;
  background-position: 0 -1170px;
}
.icon3-e_7 {
  width: 16px;
  height: 16px;
  background-position: 0 -1196px;
}
.icon3-e_8 {
  width: 16px;
  height: 16px;
  background-position: 0 -1222px;
}
.icon3-e_9 {
  width: 16px;
  height: 16px;
  background-position: 0 -1248px;
}
.icon3-e_10 {
  width: 17px;
  height: 16px;
  background-position: 0 -1274px;
}
.icon3-e_11 {
  width: 16px;
  height: 16px;
  background-position: 0 -1300px;
}
.icon3-e_12 {
  width: 16px;
  height: 16px;
  background-position: 0 -1326px;
}
.icon3-e_13 {
  width: 16px;
  height: 16px;
  background-position: 0 -1352px;
}
.icon3-e_14 {
  width: 16px;
  height: 16px;
  background-position: 0 -1378px;
}
.icon3-e_15 {
  width: 16px;
  height: 16px;
  background-position: 0 -1404px;
}
.icon3-e_16 {
  width: 16px;
  height: 16px;
  background-position: 0 -1430px;
}
.icon3-e_18 {
  width: 16px;
  height: 16px;
  background-position: 0 -1456px;
}
.icon3-e_19 {
  width: 16px;
  height: 16px;
  background-position: 0 -1482px;
}
.icon3-e_20 {
  width: 16px;
  height: 16px;
  background-position: 0 -1508px;
}

.icon_3{
  background-repeat: no-repeat;
  background-image: url(../images/svg_sprite/icon_sprite3.png);
}

.icon_3-e_21 {
  background-position: 0 0px;
}

.icon_3-e_22 {
  background-position: 0 -20px;
}

.icon_3-e_23 {
  background-position: 0 -40px;
}

.icon_3-e_24 {
  background-position: 0 -60px;
}


.icon4 {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(../images/svg_sprite/icon_sprite_4.svg);
  background-image: url(../images/svg_sprite/icon_sprite_4.png)\0;
}
.icon4-a_33 {
  width: 24px;
  height: 24px;
  background-position: 0 0;
}
.icon4-a_36 {
  width: 24px;
  height: 24px;
  background-position: 0 -25px;
}
.icon4-a_37 {
  width: 24px;
  height: 24px;
  background-position: 0 -50px;
}
.icon4-a_38 {
  width: 24px;
  height: 24px;
  background-position: 0 -75px;
}
.icon4-a_39 {
  width: 24px;
  height: 24px;
  background-position: 0 -100px;
}
.icon4-a_40 {
  width: 24px;
  height: 24px;
  background-position: 0 -125px;
}
.icon4-a_44 {
  width: 24px;
  height: 24px;
  background-position: 0 -150px;
}
.icon4-a_45 {
  width: 24px;
  height: 24px;
  background-position: 0 -175px;
}
.icon4-c_6 {
  width: 24px;
  height: 24px;
  background-position: 0 -200px;
}
.icon4-c_7 {
  width: 24px;
  height: 24px;
  background-position: 0 -225px;
}
.icon4-d_1 {
  width: 24px;
  height: 24px;
  background-position: 0 -250px;
}
.icon4-d_2 {
  width: 24px;
  height: 24px;
  background-position: 0 -275px;
}
.icon4-d_3 {
  width: 24px;
  height: 24px;
  background-position: 0 -300px;
}
.icon4-d_4 {
  width: 24px;
  height: 24px;
  background-position: 0 -325px;
}
.icon4-d_5 {
  width: 24px;
  height: 24px;
  background-position: 0 -350px;
}
.icon4-d_6 {
  width: 24px;
  height: 24px;
  background-position: 0 -375px;
}
.icon4-d_7 {
  width: 24px;
  height: 24px;
  background-position: 0 -400px;
}
.icon4-d_8 {
  width: 24px;
  height: 24px;
  background-position: 0 -425px;
}
.icon4-d_9 {
  width: 24px;
  height: 24px;
  background-position: 0 -450px;
}
.icon4-d_10 {
  width: 24px;
  height: 24px;
  background-position: 0 -475px;
}
.icon4-d_11 {
  width: 24px;
  height: 24px;
  background-position: 0 -500px;
}
.icon4-d_12 {
  width: 24px;
  height: 24px;
  background-position: 0 -525px;
}
.icon4-d_13 {
  width: 24px;
  height: 24px;
  background-position: 0 -550px;
}
.icon4-d_14 {
  width: 24px;
  height: 24px;
  background-position: 0 -575px;
}
.icon4-d_15 {
  width: 24px;
  height: 24px;
  background-position: 0 -600px;
}
.icon4-d_16 {
  width: 24px;
  height: 24px;
  background-position: 0 -625px;
}
.icon4-G_2 {
  width: 24px;
  height: 24px;
  background-position: 0 -650px;
}
.icon4-G_3 {
  width: 24px;
  height: 24px;
  background-position: 0 -675px;
}
.icon4-G_4 {
  width: 24px;
  height: 24px;
  background-position: 0 -700px;
}
.icon4-G_24 {
  width: 24px;
  height: 24px;
  background-position: 0 -725px;
}
.icon4-G_18 {
  width: 24px;
  height: 24px;
  background-position: 0 -750px;
}
.icon4-G_19 {
  width: 24px;
  height: 24px;
  background-position: 0 -775px;
}
.icon4-G_20 {
  width: 24px;
  height: 24px;
  background-position: 0 -800px;
}
.icon4-G_21 {
  width: 24px;
  height: 24px;
  background-position: 0 -825px;
}
.icon4-G_22 {
  width: 24px;
  height: 24px;
  background-position: 0 -850px;
}
.icon4-G_23 {
  width: 24px;
  height: 24px;
  background-position: 0 -875px;
}
.icon4-e_1 {
  width: 24px;
  height: 24px;
  background-position: 0 -900px;
}
.icon4-d_17 {
  width: 24px;
  height: 24px;
  background-position: 0 -925px;
}
.icon4-d_18 {
  width: 24px;
  height: 24px;
  background-position: 0 -950px;
}
.icon4-d_19 {
  width: 24px;
  height: 24px;
  background-position: 0 -975px;
}
.icon4-d_20 {
  width: 24px;
  height: 24px;
  background-position: 0 -1000px;
}
.icon4-d_21 {
  width: 24px;
  height: 24px;
  background-position: 0 -1025px;
}
.icon4-d_22 {
  width: 24px;
  height: 24px;
  background-position: 0 -1050px;
}
.icon4-d_23 {
  width: 24px;
  height: 24px;
  background-position: 0 -1075px;
}


.icon5 {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(../images/svg_sprite/icon_sprite_5.svg);
  background-image: url(../images/svg_sprite/icon_sprite_5.png)\0;
}
.icon5-a_14 {
  width: 16px;
  height: 16px;
  background-position: 0 0;
}
.icon5-a_15 {
  width: 16px;
  height: 16px;
  background-position: 0 -26px;
}

.tips{
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(../images/svg_sprite/tips_sprite.svg);
  background-image: url(../images/svg_sprite/tips_sprite.png)\0;
}
.tips_1 {
  width: 42px;
  height: 42px;
  background-position: 0 0;
}
.tips_2 {
  width: 42px;
  height: 42px;
  background-position: 0 -43px;
}
.tips_3 {
  width: 42px;
  height: 42px;
  background-position: 0 -86px;
}
.tips_4 {
  width: 42px;
  height: 42px;
  background-position: 0 -129px;
}
.tips_5 {
  width: 42px;
  height: 42px;
  background-position: 0 -172px;
}

.prompt {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(../images/svg_sprite/prompt_sprite.svg);
  background-image: url(../images/svg_sprite/prompt_sprite.png)\0;
}
.prompt_1 {
  width: 80px;
  height: 80px;
  background-position: 0 0;
}
.prompt_2 {
  width: 80px;
  height: 80px;
  background-position: 0 -81px;
}
