@import url("icon_sprite.css");
/*全局样式设置*/
body {
	font-family:SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;
	color: #222222; 
	font-size: 12px;
	background: #F4F5F6;
	-webkit-font-smoothing: subpixel-antialiased;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix {
	*zoom: 1;
}

/*超链接*/
a{
	color: #222222;
	text-decoration:none !important;
	transition: all 0 ease-in-out 0.15s;
	-moz-transition: all 0 ease-in-out 0.15s;
	-webkit-transition: all 0 ease-in-out 0.15s;
	-o-transition: all 0 ease-in-out 0.15s;
}
	
a:hover{
	color: #33CC99;
}

/*全局常规*/
.w-100{
	width: 100%;
	min-width: 1200px;
}
.w-1200{
	width: 1200px;
	margin: 0px auto;
}
.w-50{
	width: 50px;
}
.w-42{
	width: 42px;
}
.w-90{
	width: 90px;
}
.w-152{
	width: 152px;
}
.w-200{
	width: 200px;
}
.w-400{
	width: 400px;
}

.h-75{
	height: 75px;
}

.fl{
	float: left;
}
.fr{
	float: right;
}

.white-bg{
	background-color: #FFFFFF;
}

.black-bg{
	background-color: #282D37;
}

.green-bg{
	background-color: #33CC99 !important;
}

.radius-3{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	position:relative;
	behavior: url(css/pie.htc);
}

.radius-100{
	-moz-border-radius: 100px!important;
	-webkit-border-radius: 100px!important;
	border-radius: 100px!important;
	position:relative;
	behavior: url(css/pie.htc);
}

.sub-radius-1{
	-moz-border-radius: 3px 0px 0px 0px;
	-webkit-border-radius: 3px 0px 0px 0px;
	border-radius: 3px 0px 0px 0px;
	position:relative;
	behavior: url(css/pie.htc);
}

.sub-radius-2{
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
	position:relative;
	behavior: url(css/pie.htc);
}

.sub-radius-3{
	-moz-border-radius: 0px 0px 3px 3px;
	-webkit-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px;
	position:relative;
	behavior: url(css/pie.htc);
}

.borderTop{
	border-top: 1px solid #F4F7F8;
}

.phcolor{ color:#999;}

.lazyimg{
	background: url(../js/lib/layui/css/modules/layer/default/loading-2.gif) center no-repeat !important;
}
.lazyimg:hover{
	-moz-opacity:0.9;
	-khtml-opacity:0.9;
	Opacity:0.9;
	Filter:alpha(opacity=90);
}

.text-center{
	text-align: center;
}
/*垂直居中*/
.vcenter{
	display:flex;   
    align-items: center;
}
/*垂直水平居中*/
.lvcenter{
	display:flex;
	justify-content: center;
    align-items: center;
}

.text-right{
	text-align: right;
}

.br{
	border-right: 1px solid #ECF1F3;
}

.font-w-b{
	font-weight: bold;
}
.font-w-n{
	font-weight: normal !important;
}

.none{
	display: none;
}

.block{
	display: block;
}

.cursor-pointer	{
	cursor: pointer;
}

.cursor-not{
	cursor: not-allowed;
}

.label{
	display: inline-block;
	border:1px solid #D8DDDB;
	height: 26px;
	line-height: 26px;
	font-size: 13px;
	padding: 0 10px;
}
.label:hover{
	border:1px solid #33CC99;
}

.labe{
	display: inline-block;
	font-size: 12px;
	padding: 0 10px;
	border-radius: 100px;
}
.labe-1{
	border:1px solid #33CC99;
	color: #33CC99;
}
.labe-1:hover{
	border:1px solid #33CC99;
	background: #33CC99;
	color: #FFFFFF;
}
.labe-2{
	border:1px solid #9255C6;
	color: #9255C6;
}
.labe-2:hover{
	border:1px solid #9255C6;
	background: #9255C6;
	color: #FFFFFF;
}

.hover-underline:hover{
	text-decoration: underline !important;
}

/*更多*/
.more{
	background: url(../images/svg/a_22.svg) left no-repeat;
	display: inline-block;
	padding-left: 20px;
}

.more:hover{
	background: url(../images/svg/a_59.svg) left no-repeat;
}

/*全局字号*/
.font-8{font-size:8.4px;-webkit-transform-origin-x: 0; -webkit-transform:scale(0.7);}
.font-12{font-size: 12px;}
.font-13{font-size: 13px;}
.font-14{font-size: 14px;}
.font-15{font-size: 15px;}
.font-16{font-size: 16px;}
.font-18{font-size: 18px;}
.font-20{font-size: 20px;}
.font-22{font-size: 22px;}
.font-24{font-size: 24px;}
.font-36{font-size: 36px;}
.font-48{font-size: 48px;}

/*全局字体颜色*/
.fc-2{ color: #222222;}
.fc-white{ color: #ffffff;}
.fc-green{ color: #33CC99;}
.fc-red{ color: #EB3C3C;}
.fc-blue{ color: #00A2FF;}
.fc-black{ color: #222222;}
.fc-grey{ color: #666666;}
.fc-aux-9{ color: #999999;}
.fc-aux-c{ color: #cccccc;}
.fc-aux-a{ color: #99A5A0;}
.fc-ad6{ color: #AD6161;}

.fc-white a{ color:#ffffff;}
.fc-white a:hover{ color:#33CC99;}
.fc-grey a{ color: #666666;}
.fc-grey a:hover{ color:#33CC99;}
.fc-aux-9 a{ color: #999999;}
.fc-aux-9 a:hover{ color: #33cc99;}
.fc-aux-a a{ color: #99A5A0;}
.fc-aux-a a:hover{ color: #33cc99;}
.a-grey a{
	color: #666666;
}
.a-grey a:hover{
	color: #33CC99;
}
.a-green{
	color: #33CC99 !important;
}
.a-green:hover{
	color: #33CC99;
}

/*间距*/
.mt-3{
	margin-top: 3px;
}
.mt-5{
	margin-top: 5px;
}
.mt-6{
	margin-top: 6px;
}
.mt-7{
	margin-top: 7px;
}
.mt-8{
	margin-top: 8px;
}
.mt-10{
	margin-top:15px;
}
.mt-12{
	margin-top: 12px;
}
.mt-14{
	margin-top:14px;
}
.mt-15{
	margin-top:15px;
}
.mt-20{
	margin-top: 20px;
}
.mt-24{
	margin-top: 24px;
}
.mt-32{
	margin-top: 32px;
}
.mt-40{
	margin-top: 40px;
}
.mt-60{
	margin-top: 60px;
}
.mt-149{
	margin-top: 149px;
}

.mb-12{
	margin-bottom: 12px;
}
.mb-13{
	margin-bottom: 13px;
}
.mb-25{
	margin-bottom: 25px;
}
.mb-35{
	margin-bottom: 35px;
}
.mb-48{
	margin-bottom: 48px;
}

.ml-4{
	margin-left: 4px;
}
.ml-5{
	margin-left: 5px;
}
.ml-10{
	margin-left: 10px;
}
.ml-12{
	margin-left: 12px;
}
.ml-15{
	margin-left: 15px;
}
.ml-17{
	margin-left: 17px;
}
.ml-20{
	margin-left: 20px;
}
.ml-24{
	margin-left: 24px;
}
.ml-30{
	margin-left: 30px;
}
.ml-34{
	margin-left: 34px;
}
.ml-50{
	margin-left: 50px;
}

.mr-4{
	margin-right: 4px !important;
}
.mr-5{
	margin-right: 5px;
}
.mr-7{
	margin-right: 7px;
}
.mr-8{
	margin-right: 8px;
}
.mr-10{
	margin-right: 10px;
}
.mr-12{
	margin-right: 12px;
}
.mr-15{
	margin-right: 15px;
}
.mr-20{
	margin-right: 20px;
}
.mr-30{
	margin-right: 30px;
}
.mr-22{
	margin-right: 22px;
}
.mr-40{
	margin-right: 40px;
}
.mr-65{
	margin-right: 65px;
}

.p10{
	padding: 10px;
}
.p15{
	padding: 15px;
}
.p18{
	padding: 18px;
}
.p24{
	padding: 24px;
}

.pl-24{
	padding-left: 24px;
}

/*全局按钮背景颜色*/
/*浅绿变深绿*/
.btn-1{
	background: #EAF9F4;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	position:relative;
	behavior: url(css/pie.htc);
	font-size: 14px;
	color: #33CC99;
}
.btn-1:hover{
	background: #33CC99;
	color: #FFFFFF;
}
.btn-1:active{
	background: #26B485;
	color: #FFFFFF;
}
/*绿框*/
.btn-2{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	position:relative;
	behavior: url(css/pie.htc);
	font-size: 14px;
	color: #33CC99;
	border: 1px solid #33CC99;
	text-align: center;
}
.btn-2:hover{
	background: #33CC99;
	color: #FFFFFF;
}
.btn-2:active{
	background: #26B485;
	color: #FFFFFF;
}

/*绿色*/
.btn-3{
	background: #33CC99;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	position:relative;
	behavior: url(css/pie.htc);
	font-size: 14px;
	color: #ffffff;
	text-align: center;
}
.btn-3:hover{
	background: #26B485;
	color: #FFFFFF;
}
.btn-3:active{
	background: #26B485;
	color: #FFFFFF;
}

/*灰色*/
.btn-4{
	background: #F2F6F5;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	position:relative;
	behavior: url(css/pie.htc);
	font-size: 14px;
	color: #5C917C;
	text-align: center;
}

/*蓝色*/
.btn-5{
	background: #00A2FF;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	position:relative;
	behavior: url(css/pie.htc);
	font-size: 13px;
	color: #FFFFFF;
	text-align: center;
}
.btn-5:hover{
	background-image: linear-gradient(-180deg, #39AFFF 3%, #1E8FFF 100%);
	color: #FFFFFF;
}
.btn-5:active{
	background: #0082DF;
	color: #FFFFFF;
}

/*白框变灰（关注）*/
.btn-6{
	border: 1px solid #ECF1F3;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	position:relative;
	behavior: url(css/pie.htc);
	font-size: 12px;
	color: #99A5A0;
	text-align: center;
}
.btn-6:hover{
	border: 1px solid #99A5A0;
	background-color: #99A5A0;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	position:relative;
	behavior: url(css/pie.htc);
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
}

/*浅红色*/
.btn-7{
	background-color: #F6EFEF;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	position:relative;
	behavior: url(css/pie.htc);
	font-size: 12px;
	color: #AD6161;
	text-align: center;
}
/*灰框*/
.btn-8{
	border: 1px solid #ECF1F3;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	position:relative;
	behavior: url(css/pie.htc);
	font-size: 14px;
	color: #666666;
	text-align: center;
}
.btn-8:hover{
	border: 1px solid #33CC99;
	color: #33CC99;
}

/*浅绿色圆背景*/
.btn-9{
	background: #DAECE5;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	position:relative;
	behavior: url(css/pie.htc);
	color: #33CC99;
	text-align: center;
}

/*深绿色圆背景*/
.btn-10{
	background: #33CC99;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	position:relative;
	behavior: url(css/pie.htc);
	color: #FFFFFF;
	text-align: center;
	border: none;
}
.btn-10:hover{
	background: #46DEAB;
}
.btn-10:active{
	background: #26B485;
}
/*灰框3px*/
.btn-11{
	border: 1px solid #ECF1F3;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	position:relative;
	behavior: url(css/pie.htc);
	color: #99A5A0;
	text-align: center;
}
.btn-11:hover{
	font-weight: bold;
}
/*有下拉按钮样式*/
.btn-more{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	position:relative;
	behavior: url(css/pie.htc);
	background: #33CC99 url(../images/ie8/a_17_1@2x.png);
	background-repeat: no-repeat;
	background-position: 90% 50%;
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;
}
.btn-more:hover{
	color: #FFFFFF;
}
/*全局输入框样式*/
/*背景白色*/
.input-1{
	background: #FFFFFF;
	border: 1px solid #EBEBEB;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	position:relative;
	behavior: url(css/pie.htc);
	font-size: 14px;
	color: #99A5A0;
	padding: 10px 13px;
}
.input-1:hover{
	border: 1px solid #E1E1E1;
}
.input-1:focus{
	outline: 0;
	border: 1px solid #33CC99;
	box-shadow: 0px 0px 5px rgba(51,204,153,0.4);
}

.input-2{
	background: #FFFFFF;
	border: 1px solid #ECF1F3;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	position:relative;
	behavior: url(css/pie.htc);
	font-size: 14px;
	color: #99A5A0;
	padding: 5px 10px;
}
.input-2:hover{
	border: 1px solid #E1E1E1;
}
.input-2:focus{
	outline: 0;
	border: 1px solid #33CC99;
	box-shadow: 0px 0px 5px rgba(51,204,153,0.4);
}

.input-3{
	background: #F5F6F5;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	position:relative;
	behavior: url(css/pie.htc);
	font-size: 16px;
	color: #222222;
	padding: 12px;
	border: 1px solid #F5F6F5;
}
.input-3:hover{
	
}
.input-3:focus{
	outline: 0;
	border: 1px solid #33CC99;
	box-shadow: 0px 0px 5px rgba(51,204,153,0.4);
}


/*背景灰色*/
.input-search{
	position: relative;
	width: 100%;
}
.input-search input{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	position:relative;
	behavior: url(css/pie.htc);
	background: #F7F7F7;
	padding: 10px 40px 10px 16px;
	border: 1px solid #F7F7F7;
	color: #D6D6D6;
}
.input-search input:hover{
	background: #F0F0F0;
	border:1px solid #F0F0F0;
	color: #A7A7A7;
}
.input-search input:focus{
	background: #FFFFFF;
	border:1px solid #33CC99;
	box-shadow: 0px 0px 5px rgba(51,204,153,0.4);
	color: #666666;
}
.input-search input::-webkit-input-placeholder{
	color:#D6D6D6;
}
.input-search input::-moz-placeholder{   /* Mozilla Firefox 19+ */
	color:#D6D6D6;
}
.input-search input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
	color:#D6D6D6;
}
.input-search input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#D6D6D6;
}
.input-search span{
	background: url(../images/svg/Shape2.svg)center no-repeat;
	background-size: 16px 16px;
	cursor: pointer;
	width: 40px;
	height: 34px;
	position: relative;
	z-index: 99;
	top:-34px;
	right: -56px;
}

/*默认placeholder样式*/
.i-placeholder input::-webkit-input-placeholder{
	color:#ACB8B3;
}
.i-placeholder input::-moz-placeholder{   /* Mozilla Firefox 19+ */
	color:#ACB8B3;
}
.i-placeholder input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
	color:#ACB8B3;
}
.i-placeholder input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#ACB8B3;
}
/*品牌搜索框样式*/
.brand-search{
	border: 1px solid #E0E6E9;
	
}
.brand-search input{
	border: none;
	font-size: 12px;
}
.brand-search button{
	margin-top: 2px;
	width: 62px;
	border: none;
	font-size: 12px;
	background: url(../images/svg/Shape2.svg) left no-repeat;
	cursor: pointer;
	padding-left: 20px;
}
.brand-search input::-webkit-input-placeholder{
	color:#CCCCCC;
}
.brand-search input::-moz-placeholder{   /* Mozilla Firefox 19+ */
	color:#CCCCCC;
}
.brand-search input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
	color:#CCCCCC;
}
.brand-search input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#CCCCCC;
}

/*全局下拉选择样式*/
.select-1 .select{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	position:relative;
	behavior: url(css/pie.htc);
	border: 1px solid #ECF1F3;
	padding: 5px 10px;
	background-color: #ffffff;
	background-image: url(../images/ie8/a_16@2x.png);
	background-repeat: no-repeat;
	background-position: 90% 50%;
	color: #999999;
	cursor: pointer;
}
.select-1 .op{
	position: absolute;
	border: 1px solid #ECF1F3;
	padding: 10px 0;
	background: #FFFFFF;
	font-size: 13px;
	text-align: center;
	display: none;
	margin-top: 2px;
	z-index: 99;
}
.select-1 .op li{
	height: 15px;
	line-height:15px;
	color: #666666;
	cursor: pointer;
	padding: 10px;
}
.select-1 .op li:hover{
	background: #F6F7F8;
}
.select-1 .op .active{
	background: #F6F7F8;
	color: #222222;
	font-weight: bold;
}

.select-2 .select{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	position:relative;
	behavior: url(css/pie.htc);
	border: 1px solid #ECF1F3;
	padding: 5px 10px;
	background-color: #FEFEFE;
	background-image: url(../images/ie8/G_7@2x.png);
	background-repeat: no-repeat;
	background-position: 90% 50%;
	color: #999999;
	cursor: pointer;
	font-size: 14px;
}
.select-2 .op{
	position: absolute;
	border: 1px solid #ECF1F3;
	padding: 10px 0;
	background: #FFFFFF;
	font-size: 13px;
	text-align: center;
	display: none;
	margin-top: 2px;
	z-index: 99;
	box-shadow:0px 3px 5px 0px rgba(105,115,130,0.16);
}
.select-2 .op li{
	line-height:24px;
	color: #666666;
	cursor: pointer;
	padding: 10px;
}
.select-2 .op li:hover{
	background: #F6F7F8;
}
.select-2 .op .active{
	background: #F6F7F8;
	color: #222222;
	font-weight: bold;
}

/*全局单选多选样式*/
.radio-1 div{
	float: left;
	margin-right: 20px;
	height: 16px;
	line-height: 16px;
	cursor: pointer;
}
.radio-1 div:hover{
	color: #33CC99;
}
.radio-1 div i{
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #E7ECE9;
	position: relative;
	top:4px;
	margin-right: 6px;
}
.radio-1 div .active{
	background: #33CC99;
}
.radio-1 div .active:before{
	content:'';
	display: block;
	background: #FFFFFF;
	width:6px;
	height:6px;
	box-shadow:0px 1px 2px 0px rgba(0,0,0,0.4);
	border-radius:50%;
	position: absolute;
	left: 5px;
	top:5px
}
/*多选样式1*/
.checkBox{
	cursor: pointer;
}

.checkBox input[type="checkbox"]{
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   outline: none;
   display: inline-block;
   vertical-align: middle;
   width: 18px;
   height: 18px;
   border-radius: 3px;
   background-color: #E7ECE9;
   margin-right: 5px;
   position: relative;
   top:-2px
}

/*复选框鼠标按下时增加的样式*/
.checkBox input[type="checkbox"]:active{
   background-color: #DDE2DF;
}
/*复选框选中后增加的样式*/
.checkBox input[type="checkbox"]:checked{
   background-image: url(../images/ie8/e_22@2x.png);
   background-color: #33CC99;
   border: 0;
}
/*复选框选中后增加的样式*/
.checkBox input[type="checkbox"]:checked:active{
   background-color: #DDE2DF;
}
/*重定义layui样式*/


/*常规顶部样式*/
#header{
	position: fixed;
	width: 100%;
	top:0;
	z-index: 1000;
	background: #343C41;
	height: 90px;
}
#header .top{
	position: relative;
}
#header .top .logo{
	width: 127px;
	height: 40px;
	margin-top: 25px;
}
#header .top .logo .icon-logo{
	width: 127px;
	height: 40px;
	fill: #ffffff;
}
#header .top .logo:hover .icon-logo{
	fill: #33CC99;
}

#header .top .index{
	position: relative;
	top:-7px
}

#header .top .nav-box{
	width: 420px;
}
#header .top .nav-box ul > li{
	float: left;
	width: 78px;
}

#header .top .nav-box ul > li > a{
	font-size: 14px;
	color: #ffffff;
	height: 90px;
	display: inline-block;
	padding-left: 30px;
	line-height: 90px;
}
#header .top .nav-box ul > li i{
	display: inline-block;
    margin-left: 5px;
    width: 12px;
    height: 12px;
    background: url('../images/svg/a_56.svg') no-repeat;
    background-size: 12px;
}
#header .top .haver-on{
	-webkit-opacity: 0.3;  
    /* Netscape and Older than Firefox 0.9 */  
    -moz-opacity: 0.3;  
    /* Safari 1.x (pre WebKit!) 老式khtml内核的Safari浏览器*/  
    -khtml-opacity: 0.3;  
    /* IE9 + etc...modern browsers */  
    opacity: .3;  
    /* IE 4-9 */  
    filter:alpha(opacity=30);  
    /*This works in IE 8 & 9 too*/  
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";  
    /*IE4-IE9*/  
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30);  
}
#header .top .hover-up{
    transition-duration: .5s;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    filter: opacity(100%);
}
#header .top .hover-down{
    transition-duration: .5s;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -webkit-opacity: 0.3;  
    /* Netscape and Older than Firefox 0.9 */  
    -moz-opacity: 0.3;  
    /* Safari 1.x (pre WebKit!) 老式khtml内核的Safari浏览器*/  
    -khtml-opacity: 0.3;  
    /* IE9 + etc...modern browsers */  
    opacity: .3;  
    /* IE 4-9 */  
    filter:alpha(opacity=30);  
    /*This works in IE 8 & 9 too*/  
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";  
    /*IE4-IE9*/  
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30);  
}

/*下拉菜单样式*/
#header .top .nav-box ul > li .sub{
	display: none;
	width: 1030px;
	height: 365px;
	background: #ffffff;
	z-index: 999;
	position:fixed;
	left: 0;
}
#header .top .nav-box ul > li .triangle_border_up{
    width:0;
    height:0;
    border-width:0 10px 10px;
    border-style:solid;
    border-color:transparent transparent #fff;
    position:relative;
    display: none;
    margin-top: -10px;
    margin-left: 35px;
}

/*下拉菜单内公共样式*/
#header .top .nav-box ul li .sub .l-tab{
	width: 159px;
	border-right: 1px solid #F4F7F8;
	height: 365px;
	overflow-y:auto;
}
#header .top .nav-box ul li .sub .l-tab::-webkit-scrollbar {
	width: 3px;
}
#header .top .nav-box ul li .sub .l-tab::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}
#header .top .nav-box ul li .sub .l-tab::-webkit-scrollbar-thumb {
	background-color:#DDDDDD;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius:2em;
}
#header .top .nav-box ul li .sub .l-tab p{
	height: 48px;
	line-height: 48px;
	text-align: center;
	font-size: 14px;
	color: #666666;
	cursor: pointer;
}
#header .top .nav-box ul li .sub .l-tab p a{
	color: #666666;
}
#header .top .nav-box ul li .sub .l-tab p a:hover{
	color: #666666;
}
#header .top .nav-box ul li .sub .l-tab .active{
	background-color: #f6f7f8;
	color: #222222;
	font-weight: bold;
}
#header .top .nav-box ul li .sub .l-tab .active a{
	color: #222222;
}
#header .top .nav-box ul li .sub .l-tab .active a:hover{
	color: #222222;
}
#header .top .nav-box ul li .sub .info{
	width: 870px;
}

/*优惠下拉菜单内容*/
#header .top .nav-box ul li .yh .tab-list{
	padding: 20px;
}
#header .top .nav-box ul li .yh .tab-list .yhsm li{
	float: left;
	width: 226px
}
#header .top .nav-box ul li .yh .tab-list .yhsm li .icon{
	width: 36px;
	height: 36px;
}
#header .top .nav-box ul li .yh .tab-list .yhsm li > p > span{
	position: absolute;
	margin-left: 10px;
}
#header .top .nav-box ul li .yh .tab-list .yhsm li > p > a{
	color: #33CC99;
	margin-right: 28px;
}

#header .top .nav-box ul li .yh .tab-list p .btotton{
	display: inline-block;
	width: 130px;
	height: 40px;
	line-height: 40px;
}

/*商场下拉菜单内容*/
#header .top .nav-box ul li .sc .tb{
	border-bottom: 1px solid #ECF1F3;
	padding: 30px 7px 15px 7px;
}
#header .top .nav-box ul li .sc .tb a{
	display: inline-block;
	width: 127px;
	height: 60px;
	text-align: center;
	line-height: 30px;
	color: #999999;
}
#header .top .nav-box ul li .sc .tb img{
	max-width: 80px;
	max-height: 30px;
}
#header .top .nav-box ul li .sc .wz{
	padding: 21px 17px 11px 17px;
}
#header .top .nav-box ul li .sc .wz a{
	display: inline-block;
	width: 166px;
	height: 44px;
	text-align: center;
	line-height: 44px;
	font-size: 14px;
}
#header .top .nav-box ul li .sc .wz a:hover{
	background-color: #F6F7F8;
	color: #33CC99;
}

/*分类下拉菜单*/
#header .top .nav-box ul li .fenlei .l-tab p{
	height: 52px;
	line-height: 52px;
}
#header .top .nav-box ul li .fenlei em{
	position: relative;
	top:3px;
	margin-right: 10px;
}

#header .top .nav-box ul li .sub .info .t-tab{
	padding: 10px 20px 0px 20px;
	border-bottom: 1px solid #F4F7F8;
	height: 40px;
	line-height: 40px;
	color: #2a2a2a;
}

#header .top .nav-box ul li .sub .info .t-tab span{
	cursor: pointer;
}

#header .top .nav-box ul li .sub .info .t-tab .font-14{
	float: left;
}

#header .top .nav-box ul li .sub .info .t-tab .active{
	border-bottom: 2px solid #33CC99;
	color: #33CC99;
	margin-bottom: -1px;
}

#header .top .nav-box ul li .fenlei .tab-list{
	padding: 20px;
}
#header .top .nav-box ul li .fenlei .tab-list a{
	float: left;
	width: 150px;
	text-align: center;
	height: 44px;
	line-height: 44px;
}
#header .top .nav-box ul li .fenlei .tab-list a:hover{
	background-color: #F6F7F8;
	color: #33CC99;
}

/*圈子下拉菜单*/
#header .top .nav-box ul li .qz{
	width: 980px;
	height: 285px;
	padding: 40px 25px;
}
#header .top .nav-box ul li .qz .title{
	background: url(../images/symbols-ic-whatshot-grey600.png) left no-repeat;
	height: 22px;
	line-height: 22px;
	background-size: 16px 16px;
	behavior:url(css/backgroundsize.min.htc);
	padding-left: 22px;
}
#header .top .nav-box ul li .qz .qz-list li{
	float: left;
	width: 224px;
	margin: 30px 10px;
}

/*更多下拉菜单*/
#header .top .nav-box ul li .gd .jifen{
	padding: 10px 23px;
}

#header .top .nav-box ul li .gd .tab-list .jf-list li{
	float: left;
	width: 186px;
	margin: 10px 10px 0px 10px;
}

#header .top .nav-box ul li .gd .tab-list .jf-list li .pic{
	width: 186px;
	height: 186px;
}

#header .top .nav-box ul li .gd .tab-list .jf-list li .pic img{
	width: 186px;
	height: 186px;
}

#header .top .nav-box ul li .gd .tab-list .jf-list li .pic span{
	display: inline-block;
	position: relative;
	bottom:30px;
	left: 6px;
	height: 24px;
	width: 58px;
	background: rgba(0,0,0,0.8);
	color: #ffffff;
	line-height: 24px;
	text-align: center;
}

#header .top .nav-box ul li .gd .tab-list .jf-list li .button{
	display: inline-block;
	width: 186px;
	height: 34px;
	line-height: 34px;
}
#header .top .nav-box ul li .gd .tab-list .jf-list li .button:hover{
	background: #33CC99;
	color: #FFFFFF;
}
/*合伙人未加入样式*/
#header .top .nav-box ul li .gd .tab-list .wjr{
	width: 780px;
	height: 275px;
	background: url(../images/a_3.png) right bottom no-repeat;
	padding: 45px;
}
#header .top .nav-box ul li .gd .tab-list .wjr .button{
	display: inline-block;
	width: 130px;
	height: 40px;
	line-height: 40px;
}
/*合伙人已加入样式*/
#header .top .nav-box ul li .gd .tab-list .yjr .my-record{
	float: left;
	width: 314px;
	height: 277px;
	border-right: 1px solid #F4F7F8;
	padding: 44px;
}

#header .top .nav-box ul li .gd .tab-list .yjr .my-record .button{
	width: 64px;
	height: 34px;
	display: inline-block;
	text-align: center;
	line-height: 34px;
}

#header .top .nav-box ul li .gd .tab-list .yjr .share{
	float: left;
	width: 407px;
	background: url(../images/a_2.png) top center no-repeat;
	background-size: 100%;
	behavior:url(css/backgroundsize.min.htc);
	height: 215px;
	padding: 150px 30px 0px 30px;
}
#header .top .nav-box ul li .gd .tab-list .yjr .share .layui-bg-orange{
	background-color: #F4ECEC !important;color: #974747 !important;
}
#header .top .nav-box ul li .gd .tab-list .yjr .share .layui-bg-green{
	background-color: #EEF4F1 !important;color: #5C917C !important;
}
#header .top .nav-box ul li .gd .tab-list .yjr .share .button{
	width: 200px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	display: inline-block;
}

/*顶部搜索样式*/
#header .top .top-search {
	width: 318px;
	margin-top: 26px;
	background: #434B4F;
	padding: 11px;
}
#header .top .top-search input{
	border: 0;
	background: none;
	color: rgba(255,255,255,0.30);
	width: 280px;
	height: 16px;
	font-size: 13px;
}
#header ::-webkit-input-placeholder { color: rgba(255,255,255,0.30); }
#header ::-moz-placeholder { color: rgba(255,255,255,0.30); } /* firefox 19+ */
#header :-ms-input-placeholder { color: rgba(255,255,255,0.30); } /* ie */
#header input:-moz-placeholder { color: rgba(255,255,255,0.30); }
#header .top .top-search .icon-search{
	float: right;
	display: inline-block;
	width: 16px;
	height: 16px;
	cursor: pointer;
	fill: #ffffff;
}

/*顶部投稿爆料样式*/
#header .top .top-right{
	width: 313px;
	margin-top: 26px;
}

#header .top .top-right i{
	display: inline-block;
    margin-left: 5px;
    width: 12px;
    height: 12px;
    background: url('../images/svg/a_56.svg') no-repeat;
    background-size: 12px;
}

#header .top .top-right .top-contribute{
	width: 125px;
	margin-left: 20px;
}

#header .top .top-right .top-contribute .info{
	text-align: center;
	color: #95999C;
	/*margin-top: 10px;*/
}
#header .top .top-right .top-contribute .info .icon-bu-1{
	width: 24px;
	height: 24px;
	fill: #95999C;
	position: relative;
	top:7px
}
#header .top .top-right .top-contribute .arrow_up{
    margin-top: 27px;
}

#header .top .top-right .top-contribute .sub-box{
	width: 168px;
	height: 96px;
	margin-left: -18px;
}

#header .top .top-right .top-contribute .sub-box .icon{
	display: inline-block;
	width: 16px;
	height: 16px;
	fill:#666666;
	margin-right: 10px;
}

#header .top .top-right .top-contribute .sub-box a{
	display: inline-block;
	width: 88px;
	height: 28px;
	line-height: 28px;
	padding: 10px 40px;
}

#header .top .top-right .top-contribute .sub-box a:hover{
	background-color: #F6F7F8;
	color: #33CC99;
}

#header .top .top-right .top-contribute .sub-box a:hover .icon{
	fill: #33CC99;
}

#header .top .top-right .top-member{
	margin-left: 20px;
}

#header .top .top-right .top-member .member-btn .button{
	display: inline-block;
	float: left;
	width: 68px;
	height: 38px;
	background: #272D31;
	margin-left: 6px;
	text-align: center;
	line-height: 38px;
}

#header .top .top-right .top-member .member-info{
	width: 148px;
	margin-top: 6px;
}

#header .top .top-right .top-member .member-info .info{
	color: #DDDDDD;
	margin-top: 5px;
}

#header .top .top-right .top-member .member-info .info .layui-badge-dot{
	position: relative;
	z-index: 99;
	left: 28px;
	top:-10px;
	background-color: #F66060;
}


#header .top .top-right .top-member .member-info .arrow_up{
	margin-left: 65px;
	margin-top: 20px;
}

#header .top .top-right .top-member .member-info .sub-box{
	width: 244px;
	margin-left: -50px;
	height: 450px;
}

#header .top .top-right .top-member .member-info .sub-box .head{
	height: 48px;
	border-bottom: 1px solid #F4F7F8;
	padding: 25.5px;
}

#header .top .top-right .top-member .member-info .sub-box .head-info{
	width: 135px;
	margin-left: 10px;
}

#header .top .top-right .top-member .member-info .sub-box .head-info .name{
	font-size: 14px;
	line-height: 25px;
}

#header .top .top-right .top-member .member-info .sub-box .head-info .name span{
	font-size: 12px;
	background-color: #EAF9F4;
	margin-left: 10px;
	padding: 0 5px;
}

#header .top .top-right .top-member .member-info .sub-box .icon{
	display: inline-block;
	width: 20px;
	height: 20px;
	fill:#99A5A0;
	position: relative;
	margin-bottom: -5px;
	margin-right: 24px;
}

#header .top .top-right .top-member .member-info .sub-box a{
	display: inline-block;
	width: 164px;
	height: 20px;
	line-height: 20px;
	padding: 15px 40px;
	font-size: 14px;
	color: #666666;
}

#header .top .top-right .top-member .member-info .sub-box a:hover{
	background-color: #F6F7F8;
	color: #222222;
}

#header .top .top-right .top-member .member-info .sub-box a:hover .icon{
	fill: #33CC99;
}

#header .top .top-right .top-member .member-info .sub-box a .number{
	display: inline-block;
	width: 18px;
	height: 18px;
	background-color: #F66060;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	line-height: 18px;
}

/*顶部公共下拉菜单样式*/
#header .top .top-right .arrow_up{
    width:0;
    height:0;
    border-width:0 10px 10px;
    border-style:solid;
    border-color:transparent transparent #fff;
    position:relative;
    display: none;
    margin-top: 20px;
    z-index: 999;
    margin-left: 56px;
}

#header .top .top-right .sub-box{
	position:relative;
	background: #FFF;
	z-index: 999;
	display: none;
}


/*顶部推荐菜单样式*/
.top-nav{
	margin-top: 90px;
	height: 46px;
	line-height: 46px;
}
.top-nav a{
	margin-left: 12px;
	margin-right: 12px;
}

/*顶部公共样式二*/
.header{
	padding: 25px 0;
	height: 40px;
	position: relative;
}
.header .logo{
	height: 40px;
}
.header .logo .icon-logo{
	fill: #33CC99;
	width: 127px;
	height: 40px;
}
.header .logo .tit{
	height: 40px;
}

/*底部统一区域样式*/
footer{
	color: #B4B8C3;
	margin-top: 60px;
	padding-top: 30px;
}

footer .footer-info{
	padding-bottom: 30px;
}

footer .footer-info .layui-row dl dt{
	color: #5A616D;
	margin-bottom: 20px;
}

footer .footer-info .layui-row dl dd{
	margin-bottom: 20px;
}

footer .footer-info .layui-row dl dd .icon{
	display: inline-block;
	width: 16px;
	height: 16px;
	fill: #ffffff;
}

footer .footer-info .layui-row dl dd a{
	color: #B4B8C3;
}

footer .footer-info .layui-row dl dd a:hover{
	color: #33CC99;
}

footer .footer-info .layui-row .f-app-down{
	margin-left: 180px;
}

footer .footer-info .layui-row .f-app-down .down a{
	display: inline-block;
	width: 136px;
	height: 45px;
	background: url(../images/ie8/icon_down.png) no-repeat;
}

footer .footer-info .layui-row .f-app-down .down .apple{
	background-position: 0 0;
}
footer .footer-info .layui-row .f-app-down .down .apple:hover{
	background-position: -137px 0;
}

footer .footer-info .layui-row .f-app-down .down .android{
	background-position: 0 -45px;
	margin-top: 10px;
}

footer .footer-info .layui-row .f-app-down .down .android:hover{
	background-position: -137px -45px;
	margin-top: 10px;
}

footer .footer-info .layui-row .links{
	padding-top: 30px;
	border-top:1px solid #2E343F;
	margin-bottom: 13px;
	color: #7D828A;
}

footer .footer-info .layui-row .links a{
	display: inline-block;
	width: 67px;
	height: 22px;
	line-height: 22px;
	border: 1px solid #404650;
	border-radius: 100px;
	position:relative;
	behavior: url(css/pie.htc);
	text-align: center;
	color: #555A64;
	margin-left: 10px;
}

footer .footer-info .layui-row .links a:hover{
	color: #33CC99;
	border: 1px solid #33CC99;
}

footer .footer-info .layui-row .links-list a{
	color: #B4B8C3;
	margin-right: 20px;
}
footer .footer-info .layui-row .links-list a:hover{
	color: #33CC99;
}

footer .footer-copyright{
	background-color: #212630;
	color: #7D828A;
	line-height: 20px;
	height: 60px;
	padding-top: 20px;
}

/*分页样式*/
.pages{
	margin-top: 30px;
	margin-bottom: 0;
	font-size: 14px;
}

.pages .layui-laypage-default a{
	margin-right: 10px;
	border-radius: 3px;
	color: #595959;
}

.pages .layui-laypage-default span{
	margin-right: 10px;
	border-radius: 3px;
}

.pages .layui-laypage-default .layui-laypage-curr em{
	color: #33CC99;
}

.pages .layui-laypage-default .layui-laypage-curr .layui-laypage-em{
	display: none;
}

.pages .layui-laypage-default .layui-laypage-curr{
	border:1px solid #33CC99;
}

/*侧边栏*/
#sidebar-r{
	position: fixed;
	right: 50px;
	top: 150px;
	background-color: #ffffff;
	border: 1px solid #ECF1F3;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.04);
	width: 52px;
	text-align: center;
}
#sidebar-r .button{
	margin: 15px 0;
	position: relative;
}

#sidebar-r #actGotop{
	display: none;
}

#sidebar-r .icon{
	display: inline-block;
	width: 20px;
	height: 20px;
	fill: #777777;
}

#sidebar-r .button .btn{
	color: #999999;
}

#sidebar-r .button .btn a:hover{
	color: #666666;
}

/*遮罩层*/
#mark{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
	z-index: 999;
}

/*通用面包屑*/
.breadcrumb{
	line-height: 17px;
}
.breadcrumb a{
	background: url(../images/ie8/a_15@2x.png) right no-repeat;
	padding-right: 15px;
}

/*左边890px*/
.mbox-l{
	float: left;
	width: 890px;
	margin-right: 14px;
}
.mbox-left{
	float: left;
	width: 904px;
}
/*右边296px*/
.mbox-r{
	float: left;
	width: 296px;
}

/*弹出分享层*/
.shareBox{
	position: absolute;
	background:rgba(255,255,255,1);
	box-shadow:0px 4px 8px 0px rgba(0,0,0,0.06);
	border:1px solid rgba(236,241,243,1);
	width: 280px;
	padding: 20px;
	text-align: left;
	top:50px;
	right: 52px;
	z-index: 99;
	border-radius: 3px;
}
.shareBox .copylink{
	border: 1px solid #ECF1F3;
	padding: 12px;
}
.shareBox .copylink .btn-3{
	display: inline-block;
	width: 100px;
	height: 34px;
	line-height: 34px;
}
.shareBox .qrCode img{
	width: 80px;
	height: 80px;
}
.shareBox .qrCode .info{
	width: 190px;
	margin-left: 10px;
	line-height: 20px;
}
.shareBox .icon-share a{
	float: left;
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(../images/svg_sprite/share_sprite.png) no-repeat;
	margin-right: 10px;
}
.shareBox .icon-share .icon-1{
	background-position: 0 0;
}
.shareBox .icon-share .icon-2{
	background-position: 0 -32px;
}
.shareBox .icon-share .icon-3{
	background-position: 0 -64px;
}
.shareBox .icon-share .icon-4{
	background-position: 0 -96px;
}
.shareBox .icon-share .icon-5{
	background-position: 0 -128px;
}
.shareBox .icon-share .icon-6{
	background-position: 0 -160px;
}
.shareBox .arrow-down{
    width:0;
    height:0;
    border-width:10px 10px 0;
    border-style:solid;
    border-color:rgba(0,0,0,0.02) transparent transparent;/*灰 透明 透明 */
    position:absolute;
    bottom: -10px;
    left: 48%;
}
.shareBox .arrow-down span{
    display:block;
    width:0;
    height:0;
    border-width:8px 8px 0;
    border-style:solid;
    border-color:#fff transparent transparent;/*黄 透明 透明 */
    position:absolute;
    top:-11px;
    left:-8px;
}
.qrCodeBox{
	position: absolute;
	width: 180px;
	background:rgba(255,255,255,1);
	box-shadow:0px 4px 8px 0px rgba(0,0,0,0.06);
	border:1px solid rgba(236,241,243,1);
	z-index: 99;
	padding: 26px;
	text-align: left;
	top:0;
	right: 52px;
	border-radius: 3px;
}
.qrCodeBox .arrow-down{
    width:0;
    height:0;
    border-width:10px 10px 0;
    border-style:solid;
    border-color:rgba(0,0,0,0.02) transparent transparent;/*灰 透明 透明 */
    position:absolute;
    bottom: -10px;
    left: 48%;
}
.qrCodeBox .arrow-down span{
    display:block;
    width:0;
    height:0;
    border-width:8px 8px 0;
    border-style:solid;
    border-color:#fff transparent transparent;/*黄 透明 透明 */
    position:absolute;
    top:-11px;
    left:-8px;
}

.qrCodeBox .arrow-up{
    width:0;
    height:0;
    border-width:10px 10px 10px;
    border-style:solid;
    border-color: transparent transparent rgba(0,0,0,0.04);/*灰 透明 透明 */
    position:absolute;
    top: -20px;
    left: 48%;
}
.qrCodeBox .arrow-up span{
    display:block;
    width:0;
    height:0;
    border-width:8px 8px 8px;
    border-style:solid;
    border-color: transparent transparent #FFF;/*黄 透明 透明 */
    position:absolute;
    top:-6px;
    left:-8px;
}

/*去购买更多下拉*/
.moreButton .moreUrl{
	position: absolute;
	width: 100%;
	background:rgba(255,255,255,1);
	box-shadow:0px 4px 8px 0px rgba(0,0,0,0.06);
	border:1px solid rgba(236,241,243,1);
	z-index: 99;
	left: 0;
}
.moreButton .moreUrl a{
	display: inline-block;
	width: 100%;
	height: 35px;
	line-height: 35px;
	text-align: center;
}
.moreButton .moreUrl a:hover{
	background:rgba(51,204,153,0.04);
	color: #33CC99;
	font-weight: bold;
}

/*tips提示组件样式*/
#tipsPopup{
	width: 190px;
	padding: 20px;
	text-align: center;
}
#tipsPopup .tips{
	margin-bottom: 10px;
}
#tipsPopup .info{	
	font-size: 14px;
	color: #999999;
}

/*弹出/注册登录层样式*/
.loginPopup{
	border-radius:8px !important;
}
.loginPopup .loginBox{
	padding: 40px 50px 30px 50px;
}
.loginPopup .mobileBox{
	padding: 40px 50px 30px 50px;
}
.loginPopup .registeredBox{
	padding: 40px 50px 30px 50px;
}

.loginPopup .loginInput{
	width: 270px;
	height: 24px;
	line-height: 24px;
	padding-left: 48px;
}
.loginPopup .input1{
	background:#f5f6f5 url(../images/ie8/a_47@2x.png) no-repeat;
	background-position: 12px;
}
.loginPopup .input2{
	background:#f5f6f5 url(../images/ie8/a_48@2x.png) no-repeat;
	background-position: 12px;
}
.loginPopup .input3{
	background:#f5f6f5 url(../images/ie8/a_52@2x.png) no-repeat;
	background-position: 12px;
}
.loginPopup .input4{
	background:#f5f6f5 url(../images/ie8/a_53@2x.png) no-repeat;
	background-position: 12px;
}
.loginPopup .input6{
	background:#f5f6f5 url(../images/ie8/a_56@2x.png) no-repeat;
	background-position: 12px;
}

.loginPopup input::-webkit-input-placeholder{
	color:#99A5A0;
}
.loginPopup input::-moz-placeholder{   /* Mozilla Firefox 19+ */
	color:#99A5A0;
}
.loginPopup input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
	color:#99A5A0;
}
.loginPopup input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#99A5A0;
}
.loginPopup .mobile{
	position: relative;
}
.loginPopup .mobile .yzm{
	position: absolute;
	right: 0;
	top:10px;
}
.loginPopup .mobile .yzm{
	position: absolute;
	right: 10px;
	top:16px;
	font-size: 14px;
	color: #33CC99;
	cursor: pointer;
	border: 0;
	background: none;
}
.loginPopup .button{
	width: 330px;
	height: 48px;
	line-height: 48px;
	font-size: 16px!important;
}
.loginPopup .thirdLogin{
	margin-top: 30px;
	text-align: center;
}
.loginPopup .thirdLogin a{
	display: inline-block;
	height: 24px;
	background: url(../images/svg_sprite/icon_sprite_login.png) no-repeat;
	padding-left: 28px;
	line-height: 24px;
	color: #99A5A0;
	font-size: 13px;
}
.loginPopup .thirdLogin a:hover{
	background: url(../images/svg_sprite/icon_sprite_login_1.png) no-repeat;
	color: #33CC99;
}
.loginPopup .thirdLogin .wx,.loginPopup .thirdLogin .wx:hover{
	background-position: 0 0;
}
.loginPopup .thirdLogin .qq,.loginPopup .thirdLogin .qq:hover{
	background-position: 0 -24px;
}
.loginPopup .thirdLogin .wb,.loginPopup .thirdLogin .wb:hover{
	background-position: 0 -48px;
}

/*修改layui默认样式*/
.loginPopup .layui-layer-setwin .layui-layer-close2{
	top:0 !important;
	right: 0 !important;
	width: 24px !important;
	height: 24px !important;
	background-position: 0 0 !important;
}
.loginPopup .layui-layer-setwin .layui-layer-close2:hover{
	background-position: 0 -24px !important;
}
.loginPopup .layui-layer-ico{
	background: url(../images/svg_sprite/close_sprite.png) no-repeat !important;
}

.tipsBox .layui-layer-setwin .layui-layer-close2{
	top: -24px !important;
	right: -24px !important;
	width: 24px !important;
	height: 24px !important;
	background-position: 0 -48px !important;
}
.tipsBox .layui-layer-setwin .layui-layer-close2:hover{
	background-position: 0 -72px !important;
}
.tipsBox .layui-layer-ico{
	background: url(../images/svg_sprite/close_sprite.png) no-repeat !important;
}

.askBox .layui-layer-btn .layui-layer-btn0{
	border-color: #33CC99;
	background-color: #33CC99;
}

/*分页加载中样式*/
.page-loading{
	width: 100%;
	height: 50px;
	background: url(../images/loading.gif) center no-repeat;
	display: none;
}

/*悬浮最新消息*/
.newMsg{
	position: absolute;
	top:92px;
	right: 0;
	width: 160px;
	background: #ffffff url(../images/ie8/a_16@2x.png) no-repeat;
	background-position: 120px 15px;
	box-shadow:0px 4px 8px 0px rgba(0,0,0,0.06);
	cursor: pointer;
	display: none;
}
.newMsg-down{
	background: #ffffff url(../images/ie8/a_16s@2x.png) no-repeat;
	background-position: 120px 15px;
}
.newMsg .newMsgTitle{
	width: 100px;
	font-size: 16px;
	color: #99A5A0;
	padding: 10px 40px 10px 20px;
}
.newMsg ul{
	width: 160px;
	font-size: 14px;
	display: none;
}
.newMsg ul li{
	width: 100px;
	padding: 10px 40px 10px 20px;
}
.newMsg ul li:hover{
	background: #F6F7F8;
	font-weight: bold;
}
.newMsg ul li:hover a{
	color: #666666;
}
.newMsg ul li a{
	color: #99A5A0;
}

.layui-layer-btn .layui-layer-btn0{
	border-color: #33CC99!important;
	background-color: #33CC99!important;
}


.layui-layer-prompt .layui-layer-content input::-webkit-input-placeholder{
	color:#D6D6D6;
}
.layui-layer-prompt .layui-layer-content input::-moz-placeholder{   /* Mozilla Firefox 19+ */
	color:#D6D6D6;
}
.layui-layer-prompt .layui-layer-content input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
	color:#D6D6D6;
}
.layui-layer-prompt .layui-layer-content input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#D6D6D6;
}