/*
 * 列表页list.html
 * 独立样式文件
 * 
 * */

.title{
	height: 30px;
	line-height: 30px;
}
.title .icon{
	width: 22px;
	height: 22px;
	position: relative;
	top:3px
}
.title .fr .time{
	padding: 5px 10px;
}


/*小时热度榜列表样式*/
.hour .th{
	padding: 20px 0;
	border-bottom: 1px solid #F4F7F8;
}
.hour .th li{
	float: left;
}
.hour .th .th-1{
	width: 28px;
}
.hour .th .th-2{
	padding-left: 100px;
	width: 580px;
}
.hour .th .th-3{
	width: 309px;
}
.hour .th .th-4{
	width: 100px;
	margin-right: 10px;
}

/*小时热度榜列表内容*/
.hour .list li{
	height: 78px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.hour .list li:hover{
	background: #FAFAFA;
}
.hour .list .number{
	width: 28px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	font-size: 16px;
	margin-top: 25px;
}
.hour .list .num-1{
	background-image: linear-gradient(-180deg, #FBD249 0%, #F5A623 100%);
	color: #FFFFFF;
}
.hour .list .num-2{
	background-image: linear-gradient(-180deg, #BEC7D0 0%, #8A96A3 100%);
	color: #FFFFFF;
}
.hour .list .num-3{
	background-image: linear-gradient(-180deg, #DCB6B6 0%, #B67F7F 100%);
	color: #FFFFFF;
}
.hour .list .num-4{
	background: rgba(153,165,160,0.14);
	color: #99A5A0;
}

.hour .list .info{
	width: 680px;
}
.hour .list .info div{
	width: 587px;
}
.hour .list .price{
	width: 309px;
}

.hour .list .score{
	width: 100px;
	margin-right: 10px;
}
.hour .list .score .icon{
	width: 20px;
	height: 20px;
	position: relative;
	top:4px
}
.hour .list .score span{
	padding: 4px 7px;
	font-size: 14px;
}

.hour .list .score .rmtj{
	border: 1px solid #E91E63;
	color: #E91E63;
}
.hour .list li:hover .score .rmtj{
	background: #E91E63;
	color: #FFFFFF;
}
.hour .list .score .qwhj{
	border: 1px solid #59B932;
	color: #59B932;
}
.hour .list li:hover .score .qwhj{
	background: #59B932;
	color: #FFFFFF;
}
.hour .list .score .sytj{
	border: 1px solid #F0F0F0;
	color: #999999;
}
.hour .list li:hover .score .sytj{
	border: 1px solid #33CC99;
	background: #33CC99;
	color: #FFFFFF;
}

.hour .hour-page{
	text-align: center;
	padding-bottom: 38px;
}
.hour .hour-page a{
	display: inline-block;
	width: 136px;
	height: 57px;
	border: 1px solid #E5E8EB;
	color: #99A5A0;
}
.hour .hour-page a:hover{
	border: 1px solid #33CC99;
	color: #33CC99;
}
.hour .hour-page a .time .icon{
	width: 12px;
	height: 12px;
	fill: #99A5A0;
	position: relative;
	top:2px
}

.hour .hour-page a:hover .time .icon{
	fill: #33CC99;
}


/*目录分类样式*/
.category-nav{
	width: 1170px;
}
.category-nav li{
	float: left;
	width: 117px;
	height: 65px;
	text-align: center;
	padding-top: 25px;
	color: #999999;
	cursor: pointer;
}

.category-nav .active{
	width: 115px;
	height: 63px;
	border: 1px solid #F4F7F8;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.06);
	font-weight: bold;
	color: #222222;
}

.fixed{
	position: fixed;  
    top: 54px;
    z-index: 998;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.15);
    margin-top: 0;
}

.category-list{
	padding-top: 40px;
}

.category-list .box-title{
	float: left;
	width: 112px;
}
.category-list .box-title .icon{
	width: 12px;
	height: 12px;
	fill: #33CC99;
	position: relative;
	top:2px
}
.category-list .list{
	float: left;
	width: 1064px;
	font-size: 14px;
	border-bottom: 1px solid #F4F7F8;
}

.category-list .list a{
	float: left;
	display: inline-block;
	width: 152px;
	color: #666666;
	height: 40px;
}

.category-list .list a:hover{
	color: #33CC99;
}

/*商场分类*/
.mall-tab{
	width: 200px;
	font-size: 14px;
	height: 30px;
	border:1px solid #ECF1F3;
}
.mall-tab .tab-1{
	display: inline-block;
	width: 55px;
	height: 30px;
	line-height: 30px;
	border-right: 1px solid #ECF1F3;
	text-align: center;
}
.mall-tab .tab-2{
	display: inline-block;
	width: 88px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.mall-tab .active{
	color: #33CC99;
	font-weight: bold;
}

.mall-hot{
	padding: 20px 24px;
}
.mall-hot .hot-list a{
	display: inline-block;
	width: 128px;
	text-align: center;
	line-height: 30px;
	color: #999999;
	float: left;
}
.mall-hot .hot-list a:hover{
	color: #33CC99;
}
.mall-hot .hot-list a .pic{
	height: 40px;
	display:flex;
	/*主轴居中对齐*/
    justify-content: center;
    /*侧轴居中对齐*/    
    align-items: center; 
}
.mall-hot .hot-list a img{
	max-width: 90px;
	max-height: 40px;
}

.mall-all .title{
	padding: 20px 24px;
	border-bottom: 1px solid #F4F7F8;
	height: 78px;
}
.mall-all .title .title-box{
	height: 24px;
	margin-top: 26px;
}
.mall-all .title .title-box a{
	display: inline-block;
	width: 40px;
	height: 24px;
	float: left;
	text-align: center;
	line-height: 24px;
}
.mall-all .title .title-box .active{
	background: #33CC99;
	color: #ffffff;
	border-radius: 3px;
}

.mall-all .list-box{
	padding: 0px 24px 40px 24px;
}

.mall-all .list-box .list{
	margin-top: 40px;
}

.mall-all .list-box .list a{
	float: left;
	display: inline-block;
	width: 144px;
	height: 36px;
	line-height: 36px;
}

.sidebar-mall{
	position: fixed;
	top:150px;
	background: #FFFFFF;
	border: 1px solid #ECF1F3;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.04);
	border-radius: 5px;
	width: 44px;
	text-align: center;
	padding:10px 0;
}

.sidebar-mall a{
	display: inline-block;
	width: 22px;
	height: 22px;
	line-height: 22px;
	color: #999999;
}

.sidebar-mall .active{
	border-radius: 100px;
	background: #F0F0F0;
	color: #101010;
	font-weight: bold;
}


/*品牌导航*/

.brand-hot{
	padding: 20px 24px;
}
.brand-hot .hot-list a{
	display: inline-block;
	width: 144px;
	text-align: center;
	line-height: 30px;
	color: #999999;
	float: left;
	margin-top: 20px;
}
.brand-hot .hot-list a:hover{
	color: #33CC99;
}
.brand-hot .hot-list a .pic{
	height: 40px;
	display:flex;
	/*主轴居中对齐*/
    justify-content: center;
    /*侧轴居中对齐*/    
    align-items: center; 
}
.brand-hot .hot-list a img{
	max-width: 90px;
	max-height: 40px;
}
.brand-more{
	background: #EAF9F4;
	color: #33CC99 !important;
	width: 80px !important;
	height: 24px !important;
	text-align: center;
	line-height: 24px;
}
.brand-more:hover{
	background: #33cc99;
	color: #FFFFFF !important;
}
